
ul {
  list-style-type: none; /* Remove default bullets */
  padding: 0;            /* Remove default padding */
  margin: 0;             /* Remove default margin */
}

li {
  margin: 0;             /* Remove default margin */
  padding: 0;            /* Remove default padding */
}




